.acess {
  text-align: left;
  margin-top: -20px;
}

.acess h2 {
  font-size: 14px;
  font-weight: 700;
  margin-left: 45px;
}

.acess h3 {
  font-size: 12px;
  font-weight: 400;
  margin-left: 40px;
}

.acess h4 {
  font-size: 12px;
  font-weight: 400;
  margin-left: 90px;
}