.cards {
  display: flex;
  flex-direction: column;
  gap: 3vh;
}

.block {
  display: flex;
  gap: 2vh;
}

.square {
  display: flex;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
  width: 539px;
  height: 211px;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
}

.square h4 {
  margin-left: 2vh;
  margin-top: 3vh;
}

.unds {
  display: flex;
  gap: 5vh;
  margin-left: 25px;
  margin-top: 15px;
  align-items: baseline;
}

.unds h2 {
  font-size: 35px;
  font-weight: 500;
}

.unds p {
  color: #B2B2B2;
  margin: 0vh;
}

.und {
  display: flex;
  flex-direction: column;
  border-right: #373737 1px solid;
  padding-right: 3vh;
  align-items: center;
  color: #124375;
}

.media {
  color: #07DB47;
  font-size: 20px;
}

.media h2 {
  font-size: 50px;
  margin-bottom: 0vh;
  font-weight: 500;
}

.subcard {
  display: flex;
  flex-direction: row;
  gap: 4vh;
}

.minor {
  display: flex;
  background-color: #fafafa;
  box-shadow: 0 4px 8px 1px rgba(0, 0, 0, 0.4);
  width: 345px;
  height: 211px;
  font-family: 'Poppins', sans-serif;
  flex-direction: column;
}

.minor h4 {
  margin-left: 2vh;
  margin-top: 3vh;
}

.minor p {
  margin: 3vh;
}

.labs {
  display: flex;
  gap: 1vh;
  margin-left: 5px;
  margin-top: 20px;
  align-items: baseline;
}

.labs h2 {
  font-size: 35px;
  margin-bottom: 0vh;
  font-weight: 500;
}

.labs p {
  color: #B2B2B2;
  margin-top: -5px;
}

.lmed {
  color: #07DB47;
  font-size: 20px;
}

.lmed h1 {
  font-size: 50px;
  margin-bottom: 0vh;
  font-weight: 500;
}

.geral {
  display: flex;
  flex-direction: row;
}